

.App {
  text-align: center;
  margin-top: 50px;
}

.drumkit {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.drum-pad:hover {
  background-color: #61dafb;
}
